<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="nav.css">
  <link rel="stylesheet" href="modal.css">
  <link rel="stylesheet" href="scroll.css">
  <link rel="stylesheet" href="slider.css">
  <link rel="stylesheet" href="menu.css">
</head>
<body>
  <header>
    <button class="mobile-menu-button">☰</button>
      <img src="icon.png" width="60" height="60" class="rounded-img" alt=":)">
      <h1>Университет</h1>
      
  </header>

