<%- include('layouts/main.ejs', {
  pageTitle: 'Университет - Об университете',
  content: `
  <section class="news">
          
    <center> <h2>Об университете</h2> </center>
    <p>Университет - крупнейший научно-образовательный центр, где академические традиции сочетаются с инновациями и технологиями. </p>

     <p>В структуру университета входят 13 факультетов и институтов, 6 филиалов в городах Бирске, Ишимбае, Кумертау, Нефтекамске, Сибае, Стерлитамаке.</p> 
      <p>Ведется подготовка по 150 направлениям бакалавриата, магистратуры и специалитета по более 700 образовательным программам гуманитарного, естественнонаучного и технического профилей.</p>
      <p>Университет — это образовательное учреждение, в котором студенты получают академические знания и навыки в различных областях. В университете обычно проводятся лекции, семинары, практические занятия, а также исследования. Учебный процесс в университете разделен на несколько уровней (бакалавриат, магистратура, докторантура), где студенты сначала получают фундаментальные знания, а затем специализируются в выбранной области. </p>
      <p>Университеты часто имеют разнообразные факультеты, которые предлагают обучение по различным специальностям, таким как гуманитарные науки, естественные науки, инженерные и технические науки, медицина и др. Кроме того, университеты также играют важную роль в культурной жизни общества, организуя мероприятия, конференции, выставки и другие мероприятия. </p>
     <p> Университет является местом, где студенты не только обучаются, но и расширяют свои кругозор, развивают социальные навыки, заводят новые знакомства и строят свою карьеру. Университеты также способствуют научным исследованиям, инновациям и развитию общества в целом.</p>
     <p>Некоторые авторы считают старейшим университетом монастырский комплекс и буддийский образовательный центр Наланда, существовавший в V—XII веках в Индии[1][2].

      В 855 году в Константинополе, на базе более ранней школы, государственным деятелем Вардой и учёным Львом Математиком (ставшим первым ректором школы) была основана Магнаврская высшая школа. В ней преподавались грамматика, риторика и философия, а также естественные науки — арифметика, геометрия, музыка, астрономия и медицина[3][4].
      
      В IX веке появился Университет Салерно[5], просуществовавший до 1861 года, а также литературные школы в Велики-Преславе и Охриде[5], основанные болгарским царём Борисом I (в крещении Михаилом)[5][6][7][8].
      
      
      Университет в Саламанке, основанный в 1218 г.
      Появление университетов в средневековье связано с развитием городов. Ранее всего в Европе, в XI в., они возникли в Италии[9]. Там был открыт Болонский университет, первоначально представлявший собой школу, где на основе римского права разрабатывались юридические нормы. На основе нескольких монастырских школ в конце XII века вырос Парижский университет.</p>
     <div class="gallery">
      <img src="1.jpg" alt="Фото 1"class="gallery-img">
      <img src="2.jpg" alt="Фото 2"class="gallery-img">
      <img src="3.jpg" alt="Фото 3"class="gallery-img">
      <img src="4.jpg" alt="Фото 3"class="gallery-img">
      <img src="5.jpg" alt="Фото 3"class="gallery-img">
  </div>
  <div id="custom-modal">
    <span class="custom-close">&times;</span>
    <img class="custom-modal-content" id="customModalImg">
  </div>
  </section>
</article>

<button id="scrollToTopButton" title="Наверх">&#9650;</button>
  `
}) %>