<!-- EJS template-->
<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h1>Oops!</h1>
    <h2>Something went wrong.</h2>
    <h3>Error details: <%= message %></h3>
    <p><a href="/">Back to homepage</a></p>
</body>
</html>